<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Predictions App</title>
</head>
<body>
    <h2>Sales Predictions App</h2>
    <form action="{{url_for('predict')}}" method="post">
        <!-- Input fields for the features -->
        <input type="text" name="tv" placeholder="TV Advertising Spend" required><br>
        <input type="text" name="radio" placeholder="Radio Advertising Spend" required><br>
        <input type="text" name="newspaper" placeholder="Newspaper Advertising Spend" required><br>
        <button type="submit">Predict Sales</button>
    </form>
    <br>
    {% if prediction_text is not none %}
        <h3>The Advertising Prediction is: {{ prediction_text }}</h3>
    {% endif %}
</body>
</html>